.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 2;
}

.navbar {
  display: flex;
  background-color: gray;
  align-items: center;

  height: var(--navbar-height);
}

.logo {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  margin-right: auto;
}

.burger {
  font-size: 2em;
  cursor: pointer;
}

.menu {
  background-color: lightgreen;
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  bottom: 0;
  width: 200px;
  padding: 10px;

  max-height: calc(100vh - var(--navbar-height));

  overflow-y: scroll;
}

.hidden {
  display: none;
}
