.menu {
  position: absolute;
  right: 0;
  width: 25em;
  height: calc(100dvh - 3em);
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  overflow-y: scroll;

  border-radius: 15px;
}
