/*TODO Order declarations!!!*/

.dropdown {
    position: relative;
    height: 100%;
}

.dropdown-heading {
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-heading.active + .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    width: max-content;

    pointer-events: none;

    display: flex;
    flex-direction: column;
}


/*
.dropdown-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
}

.dropdown-item h3 {
}

.dropdown-item h3:hover {
  text-decoration: underline;
}

.dropdown-arrow {
  width: 100%;
}

.dropdown-content {
  padding-left: 1em;
}
*/
